# .gitignore
.DS_Store

.favicon
.vscode

node_modules/

# exclude some files from posts-row plugin
*.local
posts-row/v5/php-api/allow-cors.php
posts-row/v5/php-api/asset-request.php
posts-row/v5/assets/index.css
posts-row/v5/assets/index.js
posts-row/v5/assets/index.js.map
posts-row/v5/assets/style.js.map
posts-row/v5/assets/style-paged.js.map
posts-row-2023/

