/* Vars. */

[id^='posts-row-wrapper'] {
    --gap: 1rem;
    --main-clr: #3862aa;
    --secondary-clr: hsla(36, 20%, 35%, 1);

    position: relative;
}

/*  Utils.  */

.pulsate {
    animation: pulsate linear .6s 1;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    scroll-margin-top: calc(3 * var(--gap));
}
@keyframes pulsate {
    100% { 
        color: var(--primary-clr); 
        opacity: .75;
    }
}


[id^='posts-row-wrapper'] .hidden { 
    display: none; 
}
[id^='posts-row-wrapper'] .invisible { 
    visibility: hidden;
}

[id^='posts-row-wrapper'] :is(.previous-page, .next-page):disabled { 
    opacity: .35; 
    filter:blur(.5px); 
    --main-clr: var(--secondary-clr, gray);
}

[id^='posts-row-wrapper'] *:disabled {
    box-shadow: none;
}
[id^='posts-row-wrapper'] *:disabled:hover { 
    cursor: default; 
    transform: scale(.65);
}

[id^='posts-row-wrapper'] *:disabled,
[id^='posts-row-wrapper'] *:disabled:hover {
    transform: scale(.62);
}

/* Block: parent of post items (loading state)  */
[id^='posts-row-wrapper'] .featured-posts-grid {
    transition: opacity .15s ease-out;
}
[id^='posts-row-wrapper'] .featured-posts-grid.loading {
    opacity: .25;
    filter:blur(1px);
    pointer-events: none;
}

/*  Blocks: next/previous arrows  */

.featured-posts__more:empty,
.featured-posts__more[href=""] { 
    display:none; 
}

:is(.previous-page, .next-page) {
    display: inline-block;
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 17.5rem;
    z-index: 2;

    border:0;
    margin:0;
    width: unset;
    height: unset;

    transition: opacity .3s ease-in, transform .3s ease-in;
    transform: scale(0.65);
    background-color: var(--main-clr);
    border-radius: 15%;
    color: #fff;
    padding: .25% .75%;
}

:is(.previous-page, .next-page) svg {
    width: 2rem;
    height: 2rem;
}

:is(.previous-page, .next-page):hover {
    opacity: 1;
    transform: scale(.75);
}

:is(.previous-page, .next-page):focus {
    outline: solid 1px hsl(0 7% 60% / 1);
    outline-offset: 1px;
}
/* Focusing the button with a mouse, touch, or stylus will show a subtle drop shadow. */
:is(.previous-page, .next-page):focus:not(:focus-visible){
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
    box-shadow: 1px 1px 5px var(--main-clr);
    outline: none;
}

.previous-page {
    left: calc(-3 * var(--gap));
    border:0;
    margin:0;
}

.next-page {
    right: calc(-3 * var(--gap));
    border:0;
    margin:0;
}

/** for rrenovations */
@media (min-width: 1300px) {
    .next-page {
        right: calc(-4 * var(--gap));
    }
    .previous-page {
        left: calc(-4 * var(--gap));
    }
}
@media (max-width: 1200px) and (min-width:680px) {
    [id^='posts-row-wrapper'] section {
        width: calc(100% - (var(--gap) * 1));
        margin: auto;
    }

    .next-page {
        right: calc(-3.25 * var(--gap)); 
        padding-right: var(--gap);
    }
    .previous-page {
        left: calc(-3.25 * var(--gap)); 
        padding-left: var(--gap);
    }
    
}
@media (max-width: 1030px) and (min-width:680px) {
    .next-page {
        right: calc(-2.75 * var(--gap));
    }
    .previous-page {
        left: calc(-2.75 * var(--gap));
    }
}

@media (max-width:1000px) {

    :is(.previous-page, .next-page),
    [id^='posts-row-wrapper'] *:disabled:hover { 
        transform: scale(.65);
    }
    :is(.previous-page, .next-page):hover {
        transform: scale(.75);
    }
}

@media (max-width:680px) {
    :is(.previous-page, .next-page){ 
        transform: scale(.75);
        padding: .5% 2%;
        top: unset;
        bottom: 0;
    }
    :is(.previous-page, .next-page):hover {
        transform: scale(.65);
        transform: scale(.85);
    }

    [id^='posts-row-wrapper'] *:disabled,
    [id^='posts-row-wrapper'] *:disabled:hover {
        transform: scale(.72);
    }
    .next-page {
        right: calc(-.95 * var(--gap));
    }
    .previous-page {
        left: calc(-.95 * var(--gap));        
    }

    .featured-posts__footer a {
        max-width: 75%;
        max-width: calc(100% - 6rem);
        margin: 0 auto;
    }
}

/* "Page i of n" text */
@media (min-width:680px) {
    .page-of {
        display: none;
    }
}
.page-of button {
    all: initial;
    color: var(--main-clr);
    font-family: sans-serif;
    cursor: pointer;
    font-weight: normal;
    text-decoration: underline;
    transition: font-weight .3s ease-out;
    transition-property: font-weight, color;
}

.page-of button:hover {
    font-weight: bold;
    text-decoration: none;
    color: #111;
}

button.go-to-page-1 {
    display: flex;
    margin: auto;
    text-decoration: none;
    max-height: 1em;
    transition: transform .3s ease-out;
}

button.go-to-page-1:hover {
    text-decoration: none;
    transform: translateX(-1ch);
}
button.go-to-page-1 > div {
    white-space: nowrap;
    font-weight: normal;
    margin-inline-start: .5ch;
    margin-inline-end: .25ch;
    transition: margin .3s ease-out;
    transition-property: margin, padding;
}

button.go-to-page-1:hover > div {
    margin-inline-start: .75ch;
    margin-inline-end: .25ch;
    padding-inline-end: 3.5ch;
    padding-inline-end: .25ch;
}

button.go-to-page-1 > div > span {
    transition: font-weight .3s ease-out;
    transition-property: font-weight, color;
}
button.go-to-page-1:hover > div > span {
    font-weight: bold;
    color: var(--main-clr);
}

a.go-to-page-1 {
    text-decoration: none;
}
.go-to-page-1 sup {
    font-weight: normal;
}

[id^='posts-row-wrapper'] .featured-posts-grid .c-card__excerpt {
    display: block;
}

html, body {
  scroll-behavior: smooth;
}


/**/


[id^='posts-row-wrapper'] .c-card__excerpt:empty {
    display: none;
}
[id^='posts-row-wrapper'] .c-card__letter[class] {
    line-height: 1.2;
}
