# exclude some files from posts-row plugin
assets/index.css
assets/index.js
assets/index.js.map
assets/style.js.map
assets/style-paged.js.map
api/validation/allow-cors.php
api/validation/asset-request.php
